#loader_page
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; max-height: 100vh;
}

.loader-brand
{
    font-size: 120px !important;
}
.loader-image
{
    width: 120px;
    height: 120px;
}
.animation 
{
    height:100px;
    overflow:hidden;
    margin-left: 1rem;
}
.animation > div
{
    display: flex;
    justify-content: center;
} 
.animation > div > h2 
{
    padding: 2vh 3vw;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
    text-align: center;
}
  
  .animation div:first-child 
  {
    animation: text-animation 10s infinite;
  }
  
  @keyframes text-animation 
  {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  