/*Genenal styles  MADE BY O-LAJ*/

body
{
    min-height: 100vh;
}
.blue-button
{
    background-color: #7b3fe4 !important;
    color: white !important;
    padding: 1.5vh 2vw !important;
    transition: .4s !important;
    -webkit-transition: .4s !important;
}
.blue-button:hover
{
    color: #7b3fe4 !important;
    background-color: white !important;
}
.blue-button-border
{
    background-color: #7b3fe4 !important;
    color: white !important;
    padding: 1.5vh 2vw !important;
    transition: .4s !important;
    -webkit-transition: .4s !important;
}
.blue-button-border:hover
{
    color: #7b3fe4 !important;
    background-color: white !important;
    border: 2px solid black !important;
}
.fader
{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0;
    
}
@keyframes fadeInAnimation 
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.link-on-whitebg
{
    color: #b3b3b38a;
    
    transition: .1s;
    -webkit-transition:.1s;
    border-bottom: 2px solid #7b3fe4;
    border: none;
    cursor: pointer;
}
.link-on-whitebg:hover
{
    border-bottom: 2px solid #7b3fe4;
    color: #7b3fe4;
}

.svg-title
{
    z-index: -1;
    position: relative;
}
.svgImg
{
    z-index: 2;
    position: absolute;
    margin: -35vh 43vw 0 !important;
    width: 150px;
    height: 150px;
}
/*end MADE BY O-LAJ*/

